<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplianceStoreISDbEntities1"
    <add name="ApplianceStoreEntities"
         connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;Initial Catalog=ApplianceStoreISDb;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
